<!DOCTYPE HTML>
<html layout:decorator="layout">
    <head>
        <title>Login - Recipes</title>
    </head>
    <body>
        <div layout:fragment="content">

            <h1>My custom login form</h1>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
                <div><input type="submit" value="Sign In"/></div>
            </form>


        </div>
    </body>
</html>

