<!DOCTYPE HTML>
<html layout:decorator="layout">
    <head>
        <title th:text="${task.task_name}">Login - Tasks</title>
    </head>
    <body>
        <div layout:fragment="content">

            <h2 class="display-2 my-3" th:text="${task.task_name}">Gulyás soup</h2>


            <div class="row">
                <div class="col">
                    <p>Description:</p>
                    <p th:if="${task.task_description}!=null" th:text="${task.task_description}">Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
                    <p th:if="${task.task_description}==null">No description availbale </p>
                    <a href="#" class="btn btn-primary" th:href="@{/solve/{id}(id=${task.id})}">Solve</a>
                </div>
            </div>


        </div>
    </body>
</html>

