<!DOCTYPE HTML>
<html layout:decorator="layout">
    <head>
        <title>Recipes</title>
    </head>
    <body>
        <div layout:fragment="content">
            
            <div th:if="${!#strings.isEmpty(message)}" class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${message}"></span>
            </div>

            <h2 class="display-2">Tasks</h2>

            <div class="row">
                <form style="background: #ddd" class="form-horizontal" th:object="${searchString}" action="#" th:action="@{/}" method="post">
                <div class="form-group">
                    <label for="chargeNameid" class="d-inline">Search</label>
                    <input type="text"  id="chargeNameid" name="searchString" 
                           class="form-control d-inline" 
                           placeholder="searchString" 
                           />
                    <button type="submit" class="btn btn-primary d-inline">Search</button>
                </div>
                </form>
            </div>

            <div class="row">

                <div th:each="task : ${tasks}" class="col-12 col-md-6 col-lg-4" style="display: flex">
                    <div class="card my-3 w-100">
                        <div class="card-body">
                            <h4 class="card-title" th:text="${task.task_name}">Card title</h4>
                            <a href="#" class="btn btn-primary" th:href="@{/show/{id}(id=${task.id})}">Show details</a>
                        </div>
                    </div>
                </div>



            </div>
            
        </div>
    </body>
</html>
