<!DOCTYPE HTML>
<html layout:decorator="layout">
    <head>
        <title>Recipes</title>
    </head>
    <body>
        <div layout:fragment="content">
            
            <div th:if="${!#strings.isEmpty(message)}" class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${message}"></span>
            </div>

            <h2 class="display-2">Tasks</h2>

            <div class="row">

                <div th:each="task : ${tasks}" class="col-12 col-md-6 col-lg-4" style="display: flex">
                    <div class="card my-3 w-100">
                        <!--<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg" alt="Card image cap" 
                             th:src="${!#strings.isEmpty(task.imgUrl) ? task.imgUrl : 'https://static-cdn.jtvnw.net/jtv_user_pictures/food-profile_image-0a2c3ed2f8d119ea-300x300.png'}"
                             />-->
                        <div class="card-body">
                            <h4 class="card-title" th:text="${task.task_name}">Card title</h4>
                            <a href="#" class="btn btn-primary" th:href="@{/show/{id}(id=${task.id})}">Show details</a>
                            <!--<h6 class="card-subtitle mb-2 text-muted" th:text="${task.task_name}">Card subtitle</h6>-->
                            <!--<p class="card-text" th:text="${task.task_description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                            <!--<a href="#" class="btn btn-primary" th:href="@{/show/{id}(id=${task.id})}">Show details</a>-->
                        </div>
                    </div>
                </div>



            </div>
            
        </div>
    </body>
</html>
